PyQt5==5.15.9
PyQt5-sip==12.13.0
opencv-python==4.8.1.78
Pillow==10.0.1
pydantic==2.4.2
pyyaml==6.0.1
pyautogui==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyscreenshot==3.1
PyTweening==1.0.4
pyperclip==1.8.2
EasyOCR==1.7.0
opencv-python-headless==4.8.1.78
loguru==0.7.2
scipy==1.11.4
numpy==1.24.3
requests==2.31.0
websocket-client==1.6.4
lxml==4.9.3
BeautifulSoup4==4.12.2
